<app-menu></app-menu>
<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
     <ion-label>Cadastrar carros</ion-label>
       <ion-item>
         <ion-input label="nome do carro" [(ngModel)]="this.carro.nome"></ion-input>
       </ion-item>
       <ion-item>
        <ion-input label="cor" [(ngModel)]="this.carro.cor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="ano"  [(ngModel)]="this.carro.ano"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="top speed"  [(ngModel)]="this.carro.topspeed"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="tipo" [(ngModel)]="this.carro.tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="foto"  type="file" value="upload" (change)="memorizararquivo($event)"></ion-input>
      </ion-item>
      <ion-item>
       <ion-button slot="end" color="tertiary" (click)="salvar()"> salvar
       </ion-button>
      </ion-item>
    </ion-col>
    
  </ion-row>

<ng-container *ngFor="let carro of this.carro2">

  <ng-container *ngIf="this.crudservice.isLoading">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
       <ion-card>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="end" name="pencil-outline"></ion-icon>
            <ion-icon slot="end" name="trash-outline" (click)="remover(carro.id)"></ion-icon>
          </ion-item>
        </ion-col>
  
  
       </ion-card>
      </ion-col>
      
    </ion-row>

  </ng-container>

  <ng-container *ngIf="!this.crudservice.isLoading">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
       <ion-card>
        <ion-col>id : 1 </ion-col>
        <ion-col>nome: {{carro.nome}}</ion-col>
        <ion-col>cor:  {{carro.cor}}</ion-col>
        <ion-col>ano:  {{carro.ano}} </ion-col>
        <ion-col>top speed:  {{carro.topspeed}} </ion-col>
        <ion-col>tipo : street</ion-col>
        <ion-col>
          <ion-item>
            <ion-icon slot="end" name="pencil-outline"(click)="editar(carro)"></ion-icon>
            <ion-icon slot="end" name="trash-outline" (click)="remover(carro.id)"></ion-icon>
          </ion-item>
        </ion-col>
  
  
       </ion-card>
      </ion-col>
      
    </ion-row>
  </ng-container>
  
</ng-container>



</ion-content>
