<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>diogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6" class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <img src="https://cdn.folhape.com.br/upload/dn_arquivo/2021/12/1overall-winner-zoe-ross-whizz-pop-02.jpg" class="round">
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label>Diogo Paulino</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Desenvolvedor FullStack</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Professor Etec Sales Gomes</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Professor Fatec Tatuí</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Desenvolvedor Freelancer</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-item lines="none">
              <ion-icon name="phone-portrait-outline"></ion-icon>
              <ion-label slot="end">
                Front-end
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item lines="none">
              <ion-icon name="laptop-outline"></ion-icon>
              <ion-label slot="end">
                Back-end
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item lines="none">
              <ion-icon name="analytics-outline"></ion-icon>
              <ion-label slot="end">
                Databases
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
