<ion-content [fullscreen]="true">
  <ion-row>
    <ng-container *ngFor="let country of this.pais">
        <ion-col size="12" size-lg="4">
            <ion-item lines="none" class="on-mouse">
                <ion-thumbnail slot="start">
                    <img src="{{ country.flags.png }}">
                </ion-thumbnail>
                <ion-label>
                    <h2>{{ country.name.common }}</h2>
                    <h3>{{ country.name.official }}</h3>
                </ion-label>
            </ion-item>
        </ion-col>
    </ng-container>
</ion-row>
</ion-content>
