<ion-content [fullscreen]="true">

<ion-row>
    <ion-col>
        <ion-item>
            <ion-label>
                Inicio
            </ion-label>
        </ion-item>
    </ion-col>


    <ion-col>
        <ion-item>
            <ion-label>
                sobre
            </ion-label>
        </ion-item>
    </ion-col>

    <ion-col>
        <ion-item>
            <ion-label>
               galeria
            </ion-label>
        </ion-item>
    </ion-col>

    <ion-col>
        <ion-item>
            <ion-label>
              contato
            </ion-label>
        </ion-item>
    </ion-col>

</ion-row>




</ion-content>