<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="carregando">
      <ion-spinner *ngIf="carregando" name="dots"></ion-spinner>
      <span *ngIf="!carregando">Entrar</span>
    </ion-button>
  </form>
</ion-content>
