<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastrar-funcionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-row class="ion-justify-content-center">
  <ion-col size="12" size-lg="4">

    <ion-card class="ion-padding">
      <ion-input label="Nome" [(ngModel)]="this.funcionario.nome"></ion-input>
      <ion-input label="Sobrenome" [(ngModel)]="this.funcionario.sobrenome"></ion-input>
      <ion-input label="Cargo" [(ngModel)]="this.funcionario.cargo"></ion-input>
      <ion-input label="Salário" [(ngModel)]="this.funcionario.salario"></ion-input>
      <ion-input label="Data de nascimento" [(ngModel)]="this.funcionario.data_nascimento"></ion-input>
      <ion-input label="Endereço" [(ngModel)]="this.funcionario.endereco"></ion-input>
      <ion-input label="Cidade" [(ngModel)]="this.funcionario.cidade"></ion-input>
      <ion-input label="CEP" [(ngModel)]="this.funcionario.cep"></ion-input>
      <ion-input label="Pais" [(ngModel)]="this.funcionario.pais"></ion-input>
      <ion-input label="Telefone" [(ngModel)]="this.funcionario.fone"></ion-input>
      <ion-item>
        <ion-button slot="end" color="tertiary" (click)="cadastrar()">Cadastrar</ion-button>
      </ion-item>
    </ion-card>

    

   
 


  </ion-col>
 </ion-row>
</ion-content>
