<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>matheus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="2">
      <ion-card class="ion-justify-content-center">
        <img src="../../assets/Matheus.jfif"/>
        <ion-card-header>
          <ion-card-title>Matheus Abreu Curvelo Luz</ion-card-title>
          <ion-card-subtitle>Programador</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <a href="https://github.com/MatheusAbreuLz"><ion-button ><ion-icon name="logo-github"></ion-icon></ion-button> </a>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 

</ion-content>
