// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #0D0D0D;
	--ion-color-primary-rgb: 13,13,13;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0b0b0b;
	--ion-color-primary-tint: #252525;

	--ion-color-secondary: #8C8C8C;
	--ion-color-secondary-rgb: 140,140,140;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #7b7b7b;
	--ion-color-secondary-tint: #989898;

	--ion-color-tertiary: #595959;
	--ion-color-tertiary-rgb: 89,89,89;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4e4e4e;
	--ion-color-tertiary-tint: #6a6a6a;

	--ion-color-success: #262626;
	--ion-color-success-rgb: 38,38,38;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #212121;
	--ion-color-success-tint: #3c3c3c;

	--ion-color-warning: #0D0D0D;
	--ion-color-warning-rgb: 13,13,13;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #0b0b0b;
	--ion-color-warning-tint: #252525;

	--ion-color-danger: #8C8C8C;
	--ion-color-danger-rgb: 140,140,140;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #7b7b7b;
	--ion-color-danger-tint: #989898;

	--ion-color-light: #595959;
	--ion-color-light-rgb: 89,89,89;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #4e4e4e;
	--ion-color-light-tint: #6a6a6a;

	--ion-color-medium: #262626;
	--ion-color-medium-rgb: 38,38,38;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #212121;
	--ion-color-medium-tint: #3c3c3c;

	--ion-color-dark: #0D0D0D;
	--ion-color-dark-rgb: 13,13,13;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #0b0b0b;
	--ion-color-dark-tint: #252525;

}
@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #0D0D0D;
	--ion-color-primary-rgb: 13,13,13;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0b0b0b;
	--ion-color-primary-tint: #252525;

	--ion-color-secondary: #8C8C8C;
	--ion-color-secondary-rgb: 140,140,140;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #7b7b7b;
	--ion-color-secondary-tint: #989898;

	--ion-color-tertiary: #595959;
	--ion-color-tertiary-rgb: 89,89,89;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4e4e4e;
	--ion-color-tertiary-tint: #6a6a6a;

	--ion-color-success: #262626;
	--ion-color-success-rgb: 38,38,38;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #212121;
	--ion-color-success-tint: #3c3c3c;

	--ion-color-warning: #0D0D0D;
	--ion-color-warning-rgb: 13,13,13;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #0b0b0b;
	--ion-color-warning-tint: #252525;

	--ion-color-danger: #8C8C8C;
	--ion-color-danger-rgb: 140,140,140;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #7b7b7b;
	--ion-color-danger-tint: #989898;

	--ion-color-light: #595959;
	--ion-color-light-rgb: 89,89,89;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #4e4e4e;
	--ion-color-light-tint: #6a6a6a;

	--ion-color-medium: #262626;
	--ion-color-medium-rgb: 38,38,38;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #212121;
	--ion-color-medium-tint: #3c3c3c;

	--ion-color-dark: #0D0D0D;
	--ion-color-dark-rgb: 13,13,13;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #0b0b0b;
	--ion-color-dark-tint: #252525;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
