<p>
  joao works!



  <ion-row>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestias, impedit sit at earum repudiandae fugit delectus nemo iste praesentium aperiam tempora non mollitia, rem incidunt repellat. Similique quasi aut deleniti tenetur doloremque sapiente quaerat, quam perferendis atque. Tempore reiciendis, nemo quod ut pariatur modi aperiam esse distinctio, ipsam vitae veritatis exercitationem quos. Illo a eum quis nemo molestias molestiae accusantium vero, dolor iure hic, ab id. Fugiat, assumenda sunt repudiandae pariatur at voluptatum quia adipisci eius libero inventore. Ullam rerum aliquam, quas molestiae, a repudiandae architecto, repellat animi praesentium ipsum molestias. Omnis porro expedita qui totam maiores, veniam, impedit dicta in corrupti perspiciatis aut quaerat. Nostrum ad at officia quos atque quam voluptatibus ducimus, quia doloribus, placeat, quod sunt.
  </ion-row>
</p>
