<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/diogo">Diogo</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/luizfabiano">Luiz Fabiano</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/Mateus">Mateus</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/matheus">Matheus</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/carlos">Carlos</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/vitor">Vitor</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/joao">João</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/ana">Ana</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-lg="4">
      <ion-button routerLink="/gabriel">Gabriel</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
