<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content ion-">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="12" class="ion-text-center">
          <ion-card class="card">
          <img alt="Vitor Miranda" src="../../assets/img/eu.png" />
          <ion-card-header>
            <ion-card-title>Vitor Samuel Miranda de Souza</ion-card-title>
            <ion-card-subtitle>Desenvolver brabo</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            @vitors_miranda.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-title>Javascript</ion-card-title>
            <ion-card-subtitle>Melhor linguagem</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content> Depois do PHP </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success">
          <ion-card-header>
            <ion-card-title>PHP</ion-card-title>
            <ion-card-subtitle>Sdds brunão</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content> Mentira </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title>Python</ion-card-title>
            <ion-card-subtitle>pai tá on</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content> Vambora </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="warning" ><a href="https://github.com/Vitors-Miranda/" class="text-black">Github</a></ion-button>
      </ion-col >
      <ion-col class="ion-text-center">
        <ion-button color="success"><a href="https://www.linkedin.com/in/vitorsmiranda/" class="text-black">Linkedin</a></ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button color="danger"><a href="https://www.instagram.com/vitors_miranda/" class="text-white">Instagram</a></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  
</ion-content>
