:root {
	--ion-color-primary: #B8B68F;
	--ion-color-primary-rgb: 184,182,143;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #a2a07e;
	--ion-color-primary-tint: #bfbd9a;

	--ion-color-secondary: #EBE6D2;
	--ion-color-secondary-rgb: 235,230,210;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #cfcab9;
	--ion-color-secondary-tint: #ede9d7;

	--ion-color-tertiary: #DBD3C6;
	--ion-color-tertiary-rgb: 219,211,198;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #c1baae;
	--ion-color-tertiary-tint: #dfd7cc;

	--ion-color-success: #DECCA6;
	--ion-color-success-rgb: 222,204,166;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #c3b492;
	--ion-color-success-tint: #e1d1af;

	--ion-color-warning: #D0C0A7;
	--ion-color-warning-rgb: 208,192,167;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #b7a993;
	--ion-color-warning-tint: #d5c6b0;

	--ion-color-danger: #B8B68F;
	--ion-color-danger-rgb: 184,182,143;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #a2a07e;
	--ion-color-danger-tint: #bfbd9a;

	--ion-color-light: #EBE6D2;
	--ion-color-light-rgb: 235,230,210;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #cfcab9;
	--ion-color-light-tint: #ede9d7;

	--ion-color-medium: #DBD3C6;
	--ion-color-medium-rgb: 219,211,198;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #c1baae;
	--ion-color-medium-tint: #dfd7cc;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}