ion-item {
  --background: transparent;
  --color: #ecf0f1; 
  font-weight: bold;
  --padding-start: 16px;
  font-size: 14px;
}

ion-col[size="2"] {
  background-color: #000000 !important; 
}

ion-button {
  --background: #171408; 
  --color: #1a1a1a;
  font-weight: bold;
}

ion-card {
  background-color: #7ab7f5; 
  color: #f8f8f8;
  box-shadow: 0 2px 8px rgba(222, 107, 107, 0.3);
}

.dog-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(180, 87, 87, 0.1);
}
