<ion-content [fullscreen]="true">

    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="8">

            <ion-row>
                <ng-container *ngFor="let pais of this.paises">
                    <ion-col size="12" size-lg="4">
                        <ion-item lines="none" class="on-mouse" (click)="verDetalhesPais(pais.ccn3)">
                            <ion-thumbnail slot="start">
                                <img src="{{ pais.flags.png }}">
                            </ion-thumbnail>
                            <ion-label>
                                <h2>{{ pais.name.common }}</h2>
                                <h3>{{ pais.name.official }}</h3>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ng-container>
            </ion-row>

        </ion-col>
    </ion-row>


</ion-content>