
.perfil-pic{
    border-radius: 30%;
    outline: 4px solid black;
}
.titulo-nome{
font-size: 2rem;
}
.titulo-objetivo{
font-size: 1.5rem;
}

.ion-content {
    --background: Black;
}
.ion-card{
    --background: red;
}