ion-thumbnail {
    --border-radius: 14px;
}

$transicao: all 0.2s;
.on-mouse {
    cursor: pointer;

    & h2 {
        transition: $transicao;
    }

    & h3 {
        transition: $transicao;
    }
}

.on-mouse:hover {
    & h2 {
        color: purple;
        letter-spacing: 2px;
        transition: $transicao;
    }

    & h3 {
        color: purple;
        transition: $transicao;
    }
}