*{
    // outline: 1px solid red;
}

.foto-perfil{
    border-radius: 50%;
    outline: 3px solid white;
}

.titulo-nome{
    font-size: 3rem;
}

.titulo-funcao{
    font-size: 2 rem;
}

#imgPerfil{
    border-radius: 10%;
}