bg-img {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkJA8uG1t1YkecWX7b4oo1oxY37ovjMRom2g&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

margin-top{
    margin-top: 20vh;
}