.bg-image{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJCg6GlaCcu-BcNLDZ6P5xv388E7zqAxzmYg&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.margin-top{
    margin-top: 20vh; //vertical height
}