<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>luizfabiano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row class="ion-justify-content-center">
  <ion-col size="10" size-lg="6" class="text-align-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Luiz Fabiano</ion-card-title>
      <ion-card-subtitle>Desenvolvedor</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Me chamo luiz fabiano e quero crescer na area de programação.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <ion-card-header>
      <ion-card-title>Linguagens</ion-card-title>
      <ion-card-subtitle>programação</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      JavaScript, PHP, Python
    </ion-card-content>
  </ion-card>
  </ion-col>
</ion-row>
</ion-content>
